<h1>Bienvenue !</h1>
<p>Merci de nous avoir rejoint et d'utiliser EmprunteMonPoney. Nous espérons que vous trouverez votre bonheur.</p>
<p>Mais avant cela veuillez confirmer votre email en cliquant sur le lien suivant :
	<br>
	<br>
	<a href="{{ signedUrl }}">Confirmer mon email</a>. Ce lien va expirer dans 1 heure.
</p>

<p>
	À bientôt !
</p>
