{% extends 'base.html.twig' %}

{% block title %}EmprunteMonPoney - Admin
{% endblock %}

{% block body %}

	{% block container %}

		{% block header %}
			{% include "admin/adminHeader.html.twig" %}
		{% endblock %}

		<div class="m-4">
			<div class="littleForm">

				<h1 class="d-flex justify-content-center">Modifier les informations de l'utilisateur</h1>

				{{ form_start(form) }}

				{{ form_row(form.pseudo) }}

				{{ form_row(form.roles) }}

				<div class="centerButton mt-4">
					<button class="btn btn-primary">Valider</button>
				</div>
				{{ form_end(form) }}

			</div>
		</div>
	{% endblock %}
{% endblock %}
