{% block footer %}
	<!-- footer with links -->
	<footer class="flex">

		<div class="flex footerDivWraper">
			<div class="flex evenlyDiv">
				<article>
					<h3 style="text-align: center;" class="whiteFt">Nous suivre</h3>
					<div class="flex" style="justify-content: space-evenly;">
						<a href="#" title="Nous suivre sur ">
							<i class="fab fa-instagram"></i>
						</a>
						<a href="#" title="Nous suivre sur ">
							<i class="fab fa-youtube"></i>
						</a>
						<a href="#" title="Nous suivre sur ">
							<i class="fab fa-facebook"></i>
						</a>
					</div>
				</article>

				<article>
					<div class="flex divHelpQuestions">
						<h3 class="whiteFt">Aide et questions</h3>
						<ul class="linksList">
							<li>
								<a href="#">Conditions générales d'utilisations</a>
							</li>
							<li>
								<a href="#">Comment fonctionne le site ?</a>
							</li>
							<li>
								<a href="#">Nous contacter</a>
							</li>
							<li>
								<a href="#">FAQ</a>
							</li>
						</ul>
					</div>
				</article>
			</div>

			<article class="flex allRights">
				<p class="whiteFt">
					© 2021 Tous droits réservés | EmprunteMonPoney - Béatrice Machalica | All rights reserved
				</p>
			</article>

		</div>

	</footer>

{% endblock %}
