{% block header %}
	<header>

		{# créer ici un main header pour les autres pages du site autre que home #}

		<!-- navigation -->
			<nav class="mainNav flex visible" id="mainNav"> <a href="#" class="logo">
				<span>
					EmprunteMonPoney
				</span>
			</a>
			<div class="flex">
				<a href="#">À propos</a>
				<a href="#">Inscription</a>
				<a href="#">Connexion</a>
				<a href="#">Contact</a>
			</div>
		</nav>

		<!-- menu burger -->
		<div class="burger">
			<span></span>
			<span></span>
			<span></span>
		</div>


		<!-- banner -->

		{# old banner without video #}
		{# <div class="banner-container"><p>L’air du paradis est celui qui souffle entre les oreilles d’un cheval.</p></div> #}

		{# video banner #}
			<div class="banner-container"> <video autoplay muted loop id="videoChevaux">
				<source src="{{ asset('img/cheval_home.mp4') }}" type="video/mp4">
			</video>
		</div>

		<!-- overlay text -->
		<div class="videoContent">
			<h1>EmprunteMonPoney</h1>
			<p>Le monde équestre s'ouvre à vous</p>
			<!-- button to pause/play the video with JavaScript -->
			<!-- <button id="myBtn" onclick="myFunction()">Pause</button> -->
		</div>
	</header>
{% endblock %}
