{% block footer %}
	<article class="flex articleSmallFooter">
		<p class="whiteFt">
			© 2021 Tous droits réservés | EmprunteMonPoney - Béatrice Machalica | All rights reserved
		</p>
	</article>
{% endblock %}
