{% extends 'base.html.twig' %}

{% block title %}EmprunteMonPoney - Annonces
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<h1>Hello ✅</h1>
	</div>

	{# flash message #}
	{% for message in app.flashes('message') %}
		<div class="alert alert-success" role="alert">
			{{ message }}
		</div>
	{% endfor %}

{% endblock %}
