{% extends 'base.html.twig' %}

{% block title %}EmprunteMonPoney - Annonces
{% endblock %}

{% block body %}

	<div class="backgroundColor">

		{% block header %}
			{% include "smallHeader.html.twig" %}
		{% endblock %}

		{% block container %}

			<section class="backgroundBannerFilter">
				<h1 class="bigTitle">Trouvez la perle rare...</h1>
			</section>

			<section
				class="container-lg js-posts">

				{# flash message #}
				{% for message in app.flashes('message') %}
					<div class="alert alert-success" role="alert">
						{{ message }}
					</div>
				{% endfor %}

				{# filter #}
				<div class="flex justify-content-center js-posts-filter">
					{% include "post/_filter.html.twig" with {form: form} %}
				</div>

				<div class="row">

					<section
						id="content" class="col-md-12" style="margin-top: 75px;">

						{# sorting by price #}
						<div class="d-flex justify-content-start mb-2 js-posts-sorting">
							{{ knp_pagination_sortable(posts, 'Prix', 'p.price') }}
						</div>

						{# cards container #}
						<div
							class="row row-cols-1 row-cols-md-3 js-posts-content">

							{# cards #}
							{% if posts is not null %}
								{% for post in posts %}

									<div class="col mb-3">
										{% include "post/postCard.html.twig" %}
									</div>

								{% endfor %}
							{% endif %}

						</div>

						{# pagination #}
						<div class="centerButton js-posts-pagination">
							{{ knp_pagination_render(posts) }}
						</div>

					</section>

				</div>


			</section>

		{% endblock %}

	</div>

{% endblock %}

{% block javascripts %}
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="{{ asset('js/filter.js') }}"></script>
{% endblock %}
